@model Sistema_Inventario.WebAdmin.Models.InventarioDetalle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InventarioDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inventario.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventario.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
