@model IEnumerable<Sistema_Inventario.WebAdmin.Models.Inventario>

@{
    ViewBag.Title = "Lista";
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-5">
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <h2>Lista</h2>

                <p>
                    @Html.ActionLink("Crear inventario", "Create")
                </p>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bodega.Nombre)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bodega.Nombre)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                                        @Html.ActionLink("Agregar detalle", "Create", "InventarioDetalles")
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
</div>
</div>
</div>
</div>